<section class="rules">
	<div class="rules__inner">
		<h1 class="rules__header">{{ siteName }}</h1>
		<p class="rules__win hidden">{{ winText }}</p>

		<div class="rules__group">
			<button class="rules__button rules__closer hidden" type="button">{{ backText }}</button>
			<button class="rules__button rules__restart" type="button">{{ startText }}</button>
		</div>

		{% for phrase in rules %}
			<p class="rules__text">{{ phrase }}</p>
		{% endfor %}

		<p class="rules__copy">{{ copy }}</p>
	</div>
</section>
