<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ siteName }}</title>
		<meta name="description" content="{{ pageDescription }}">
		<meta property="og:title" content="{{ siteName }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ url }}">
		<meta property="og:determiner" content="the">
		<meta property="og:locale" content="ru_RU">
		<meta property="og:site_name" content="{{ siteName }}">
		<meta property="og:description" content="{{ pageDescription }}">
		<meta property="og:image" content="{{ host }}/apple-touch-icon.png">
		<link rel="canonical" href="{{ url }}">

		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#c42b16">
		<meta name="msapplication-TileColor" content="#c42b16">
		<meta name="theme-color" content="#ffffff">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">

		<style>{{ State.CSS }}</style>
	</head>

	<body>
		<div class="hidden"><!-- SPRITE --></div>

		<main>
			{% block main %}{% endblock %}
		</main>

		<script>{{ State.JS }}</script>
	</body>
</html>
